.routes path.route {
  stroke-width: 6;
  fill: none;
  stroke-opacity: 0.3; }
  .routes path.route:hover {
    stroke-width: 24;
    stroke-opacity: 1; }

.streets .street {
  stroke: rgba(0, 0, 0, 0.4);
  stroke-width: 1;
  fill: none; }

.neighborhoods .neighborhood {
  stroke: rgba(0, 0, 0, 0.4);
  stroke-width: 0;
  fill: #c8ffc8; }

.live-data .bus {
  stroke-width: 20;
  stroke: gray;
  fill: white;
  r: 25; }
  .live-data .bus.moving {
    stroke: black;
    fill: white;
    r: 40; }

.selected-route path.route {
  stroke-width: 20;
  stroke-opacity: 1;
  fill: none; }

svg {
  background-color: #c8c8ff; }
