.routes{
  .route{
    stroke-width: 6;
    fill: none;
  }
}

.streets{
  .street{
    stroke: rgba(0,0,0,0.4);
    stroke-width: 1;
    fill: none;
  }
}

.neighborhoods{
  .neighborhood{
    stroke: rgba(0,0,0,0.4);
    stroke-width: 0;
    fill: rgba(200,255,200,1);
  }
}

.live-data{
  .bus{
    stroke-width: 25;
    stroke: gray;
    fill: white;
    &.moving{
      stroke-width: 40;
      stroke: black;
      fill: white;
    }
  }
}

.selected-route{
  path.route{
    stroke-width: 20;
    stroke-opacity: 1;
    fill: none;
  }
}

svg{
  background-color: rgba(200,200,255,1);
}
